__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
.cache/
.env
dist/
build/
*.egg-info/

data/bronze/*
!data/bronze/.gitkeep
data/silver/*
!data/silver/.gitkeep
data/gold/*
!data/gold/.gitkeep
manifests/*
!manifests/.gitkeep

.dvc/cache/
dvc-remote/
